@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-sm text-slate-600 bg-[#F9F9F9];
  }

  a {
    @apply text-slate-600 text-sm hover:text-slate-900 transition-colors inline-block;
  }

  label {
    @apply block mb-1 text-gray-400 text-xs;
  }

  input {
    @apply w-full focus-visible:outline-none;
  }

  h3 {
    @apply text-2xl text-black;
  }

  h4 {
    @apply text-black text-lg;
  }
}

@layer components {
  .container {
    @apply max-w-5xl mx-auto p-3;
  }

  .card {
    @apply bg-white p-3 md:p-5 rounded-[1.25rem] shadow-paper;
  }

  .blob-1 {
    position: absolute;
    width: 50%;
    height: 80vh;
    left: 0;
    top: 0px;
    z-index: -1;

    background: linear-gradient(
      230.65deg,
      rgba(5, 255, 0, 0.3) 22.23%,
      rgba(32, 255, 175, 0.3) 79.8%
    );
    filter: blur(120px);
    transform: rotate(150deg);
  }

  .blob-2 {
    position: absolute;
    width: 50%;
    height: 80vh;
    right: 0;
    top: 0;
    z-index: -1;

    background: linear-gradient(
      229.62deg,
      rgba(32, 201, 255, 0.3) 10.5%,
      rgba(157, 32, 255, 0.3) 80.1%
    );
    filter: blur(120px);
    transform: rotate(-20deg);
  }

  .form-input {
    @apply py-1 border-b-gray-200 border-b focus-visible:border-b-primary-500 transition-colors;
  }
}
